/* styles.css */
html,
body,
.parentDiv {
  width: 100%;
  height: 100%;
  margin: 0;
}

.parentDiv {
  display: flex;
  flex-direction: column;
}

.topParentDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form {
  margin-top: auto;
}

.bottomParentDiv {
  flex: 9;
}

.weatherDivContainer {
  height: 500px;
}

.weatherDiv {
  display: flex;
}

.dayDiv {
  flex: 1;
  border: 1px black solid;
}

.forecastTitleDiv {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}

.forecastTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}
